{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1><br/>
<strong>Created by:</strong> {{item.created_by.username}}

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>

<p><strong>Add / Remove</strong> from shopping list</p>
<!-- Show this only if the user is logged in and the item IS NOT in their shoping list-->
{% if (current_user.is_authenticated) and not (item in current_user.shopping_list_items) %}
<form action="/add_to_shopping_list/{{ item.id }}" method="POST">
    <input type="submit" value="Add">
</form>
{% endif %}

<!-- Show this only if the user is logged in and the item IS in their shoping list-->
{% if current_user.is_authenticated and item in current_user.shopping_list_items %}
<form action="/remove_from_shopping_list/{{ item.id }}" method="POST">
    <input type="submit" value="Remove">
</form>
{% endif %}



<h2>Edit Item</h2>

<form method="POST" action="{{ url_for('main.new_item') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit item</legend>
    
        {{ form.name.label }}
        {{ form.name }}
            
        {{ form.price.label }}
        {{ form.price }}

        {{ form.category.label }}
        {{ form.category }}

        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {{ form.store.label }}
        {{ form.store }}
                
        {{ form.submit }}
    </fieldset>
</form> 

{% endblock %}